<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Nymty BlogNews</a>


    <div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active current" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/">Home
            <!-- <span class="sr-only">(current)</span> -->
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active current">
          <a class="nav-link" routerLink="/login">login</a>
        </li>
        <li class="nav-item" routerLinkActive="active current">
          <a class="nav-link" routerLink="/content/1">content</a>
        </li>

      </ul>
    </div>
  </div>
</nav>





<div class=" row row-offcanvas row-offcanvas-right" style="padding-top: 20px; padding-left:50px;">

  <div class="col-10">

    <router-outlet></router-outlet>
    <hr>

    <footer>
      <p>© 2018 Nymty NewsBlog!, Inc.</p>
    </footer>
  </div>
</div>


<!--/.sidebar-offcanvas-->
